/BusinessLogicalLayer/nbproject/private/
/DataAccessLayer/nbproject/private/
/Domain/nbproject/private/
/PresentationLayer/nbproject/private/
/BusinessLogicalLayer/build/
/Domain/build/
/DataAccessLayer/dist/
/DataAccessLayer/build/
/Domain/dist/
/PresentationLayer/dist/
/PresentationLayer/build/
